@font-face {
    font-family: 'fuenteSoccer';
    src: url(fonts/Facon.otf);
}

*{
    font-family: 'fuenteSoccer';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    /* CON ESTA INSTRUCCION CUBRE TODA LA PANTALLA DE TODOS LOS DISPOSITIVOS */
}

.portadaInicio{
    min-height: 100vh; 
    /* CON ESTA INSTRUCCION CUBRE TODA LA PANTALLA DE TODOS LOS DISPOSITIVOS */
}

video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -2;
}

#logoSQ{
    position: relative;
    height: 500px;
    left: 68vh;
    margin-top: 50px;
}

.navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnJugar{
    height: 250px !important;
    width: 250px !important;
    border-radius: 50% !important;

    transition: transform .2s;
}

.btnJugar > i {
    font-size: 100px !important;
}

.btnJugar:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.btnOpcion{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
    height: 100px;
    width: 100px;

    background-color: #FF9800;
    
    border-radius: 40px;
    color: white;
    box-shadow: 7px 7px 7px black;

    transition: transform .2s;
}

.btnOpcion:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.btnOpcion > i {
    font-size: 40px;
}

.btnMusica{
    position:absolute;
    bottom: 20px;
    right: 20px;

    background-color: #B80000;
}

