@font-face {
    font-family: 'fuenteSoccer';
    src: url(fonts/Facon.otf);
}

*{
    font-family: 'fuenteSoccer';
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none;
}

#cartas {
    display: flex;
    justify-content: space-around;
}
.carta {
    width: 200px;
    padding: 20px;
    margin: 10px;
    border: 1.5px solid orange;
    border-radius: 2%;
    transition: transform 0.3s ease-in-out;
    color: teal;
}
.carta:hover{
    transform: scale(1.3);
}
.carta img{
    width: 200px;
    height: 300px;
}

#titulo{
    color: #FF9800;
}

.btnMusica{
    position:absolute;
    bottom: 20px;
    right: 20px;
    background-color: #B80000;
}

#felicidades{
    width: 100%;
    height: 100%;
    background-image: url(img/fondoFelicidades.png);
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
} 

#creditos{
    width: 100%;
    height: 100%;
    background-image: url(img/vestidores.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.btnVolver{
    position:absolute;
    top: -10px;
    right: -20px;
    background-color: #B80000;
}

.btnOpcion:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.btnOpcion > i {
    font-size: 40px;
}

.btnOpcion{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
    height: 100px;
    width: 100px;

    background-color: #FF9800;
    
    border-radius: 40px;
    color: white;
    box-shadow: 7px 7px 7px black;

    transition: transform .2s;
}

a{
    text-decoration: none;
}

.btnJugarDeNuevo{
    position:absolute;
    bottom: 20px;
    left: 20px;
}