/* Estilos generales */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../src/estadio.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh !important;
}

h1{
    color: whitesmoke !important;
    margin: 0 auto;
    font-weight: bold;
    font-size: 35px;
    background-color: red;
    border-radius: 20px;
    padding: 15px 30px;
}

h3{
    color: white !important;
    position: absolute;
    font-size: 50px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding: 10px; 
}

.PantallaJuego{
    font-size: 25px;
}

#nombreJugador{
    position: absolute;
    
}

.PantallaJuego #puntaje{
    margin-left: 500px;
}

/*Estilos para la caja de equipo de jugadores*/

.equipoJugadores { 
    margin: 0 auto;
    padding-left: 150px;
} 

/*Estilos para la caja de imagenes donde van los jugadores*/
    #cajaimagenes{ 
        float: left; 
        width: 1200px; 
        height: 200px; 
        margin-left: 390px; 
        margin-top: 100px;
    } 

/*Estilos para las imagenes de los jugadores*/

    #cajaimagenes img {
        margin: 0 115px; 
        width: 150PX; 
        height: 200px; 
        border-radius: 50%; 
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  */
        transition: transform 0.3s ease; 
      }
      
      /*Efecto Hover*/

      #cajaimagenes img:hover {
        transform: scale(1.1); 
      }

    /*Estilos para las imagenes del equipo*/

    #cajasoltar { 
        text-align: center;
       margin: 0 auto;
       width: 100%;
    } 

    #cajasoltar canvas {
        width: 300px; 
        height: 200px;  
        transition: transform 0.3s ease; 
    }

    #lienzo{
        background-image: url("src/Banquillos/Madrid.png");
        background-size: cover;
    }

    #lienzo2{
        background-image: url("src/Banquillos/AlNassr.png");
        background-size: cover;
    }
    #lienzo3{
        background-image: url("src/Banquillos/Aston.png");
        background-size: cover;
    }
    #lienzo4{
        background-image: url("src/Banquillos/Chivas.png");
        background-size: cover;
    }
    #lienzo5{
        background-image: url("src/Banquillos/City.png");
        background-size: cover;
    }
    #lienzo6{
        background-image: url("src/Banquillos/Madrid.png");
        background-size: cover;
    }
    #lienzo7{
        background-image: url("src/Banquillos/Miami.png");
        background-size: cover;
    }
    #lienzo8{
        background-image: url("src/Banquillos/PSG.png");
        background-size: cover;
    }
    #lienzo8{
        background-image: url("src/Banquillos/Strikers.png");
        background-size: cover;
    }