@font-face {
    font-family: 'fuenteSoccer';
    src: url(../fonts/Facon.otf);
}

*{
    font-family: 'fuenteSoccer';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    /* CON ESTA INSTRUCCION CUBRE TODA LA PANTALLA DE TODOS LOS DISPOSITIVOS */
}

.portadaInicio{
    min-height: 100vh; 
    /* CON ESTA INSTRUCCION CUBRE TODA LA PANTALLA DE TODOS LOS DISPOSITIVOS */

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

}

video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -2;
}

#logoSQ{
    position: relative;
    height: 500px;
    margin-top: 50px;
}

.navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: none;
}

.btnJugar{
    height: 250px !important;
    width: 250px !important;
    border-radius: 50% !important;

    transition: transform .2s;
}

.btnJugar > i {
    font-size: 100px !important;
}

.btnJugar:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.btnOpcion{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
    height: 100px;
    width: 100px;

    background-color: #FF9800;
    
    border-radius: 40px;
    color: white;
    box-shadow: 7px 7px 7px black;

    transition: transform .2s;
}

.btnOpcion:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.btnOpcion > i {
    font-size: 40px;
}

.btnMusica{
    position:absolute;
    bottom: 20px;
    right: 20px;

    background-color: #B80000;
}

.btnVolver{
    position:absolute;
    top: 20px;
    right: 20px;
    background-color: #B80000;
}

a{
    text-decoration: none;
}

input[type="number"]{
    width: 50px;

}

.portadaJugador{
    background: url(../src/fondoJugador.jpg);
    background-size: cover;
}

.contenedorJugador{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    height: 100vh;
}

.infoJugador{
    display: flex;
    flex-direction: column;
    
}

.infoJugador h1{
    margin: 40px;
    font-size: 60px;
}

.infoJugador p{
    margin-left: 40px;
    font-size: 22px;
}

.campoJugador {
    position: relative;
    left: 40px;
    top: 30%;
    color: white;
    font-size: 35px;
    
}

.campoJugador input[type="text"]{
    height: 40px;
    width: 500px;
    font-size: 30px;

}

.enviarDatos{
    position: relative;
    left: 40px;
    top: 40%;
    color: white;
    font-size: 35px;
}

.enviarDatos input[type="button"]{
    margin-top: 20px;
    height: 100px;
    width: 400px;

    background-color: #B80000;
    
    border: none;
    border-radius: 40px;
    color: white;
    box-shadow: 7px 7px 7px black;

    font-size: 30px;

    transition: transform .2s;
    
}

.enviarDatos input[type="button"]:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.seleccionarDorsal{
    display: flex;
    align-items:end;
}

.seleccionarDorsal img{
    position: relative;
    bottom: 70px;
    right: 380px;

    height: 600px;
}

.seleccionarDorsal input[type="number"]{
    position: relative;
    bottom: 180px;
    left: 110px;

    height: 340px;
    width: 280px;

    background-color: transparent;
    border: none;
    outline: none;

    font-size: 170px;

    z-index: 1;
}

/*CSS DE TABLA DE LIDERATO*/

#tituloPosiciones{
    padding: 5px;
    font-size: 80px;
    margin-top: 120px;
    text-align: center;
}



.podio{
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
    width: 1000px;
}

.Jugador1{
    position: absolute;
    margin-top: 210px;
    margin-left: 450px;
    background-color: rgb(230, 172, 46);
    padding: 20px;
    border-radius: 20px;
    
}

.Jugador2{
    position: absolute;
    margin-top: 300px;
    margin-left: 80px;
    background-color: #8d8d8d;
    padding: 20px;
    border-radius: 20px;
}

.Jugador3{
    position: absolute;
    margin-top: 350px;
    margin-left: 700px;
    background-color: #e07f30;
    padding: 20px;
    border-radius: 20px;
}

.corona{
    position: absolute;
    width: 250px;
    margin-left: 400px;
}

.NombreJugadores > h2{
    color: white;
}

#tituloPosiciones{
    color: white;
}

#video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#contenedorPrincipal {
    display: flex;
    align-items: flex-start; 
}

.podioJugadores {
    flex: 1;
    margin-right: 20px;
    align-self: flex-start; 
}

.tablaJugadores {
    flex: 1;
    align-self: flex-start; 
    margin-top: 150px;
    transform: translateX(220px); 
}

.tablaJugadores table {
    width: 60%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    overflow: hidden; 
    border-color: #B80000;
}

.tablaJugadores th, .tablaJugadores td {
    padding: 15px; 
    text-align: center; 
    border-bottom: 1px solid #ddd; 
}

.tablaJugadores th {
    background-color: #FF9800; 
    color: white; 
}

.tablaJugadores tr:last-child td {
    border-bottom: none; 
}

.tablaJugadores tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5); 
}

.tablaJugadores tr:not(.primeratabla):hover {
    background-color: rgba(255, 255, 255, 0.7); 
}


.encabezadoTabla{
    background-color: #B80000 !important;
}

#cartas {
    display: flex;
    justify-content: space-around;
}
.carta {
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 2%;
    transition: transform 0.3s ease-in-out;
    color: teal;
}
.carta:hover{
    transform: scale(1.3);
}
.carta img{
    width: 200px;
    height: 300px;
    margin-left: -25px;
}

#tituloFelicidades{
    font-size: 20px;
    text-align: center;
    color: #FF9800;
}

#tituloFelicidadesChido{
    text-align: center;
    color: #FF9800;
    font-weight: bold;
    font-size: 40px;
}


#felicidades{
    height: 100vh;
    background-image: url(../img/fondoFelicidades.png);
    background-size: cover;
    background-repeat: no-repeat;
}


#creditos{
    height: 100vh;
    
    background-image: url(../img/vestidores.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.btnJugarDeNuevo{
    position:absolute;
    bottom: 20px;
    left: 20px;

    background-color: #B80000;
}

#pumaTexto{
    color: white;
}

#tituloCreditos{
    text-align: center;
}

#textoCreditos{
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 100px;
}

